# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
# By allowing build on github I can have a live demo for free!
# /build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

